<h3>Index of posts</h3>
  {{#each}}
<table>
  <tr>
    <td>
      {{title}}
    </td>
  </tr>
  <tr>
    <td>
      by -{{author.name}}
    </td>
  </tr>
  <tr>
    <td>
      {{content}}
    </td>
  </tr>
</table>
  {{/each}}
