<div class="row">
  <div class="large-6 columns">
    <h2>About</h2>
  </div>
</div>

<div class="row">
  <div class="large-10 columns">
    <h5>This a website to map out a diagram on van's coding skills.</h5>
  </div>
</div>
