<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Vann Diagram</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
    <ul class="right">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    </ul>
  </section>
</nav>

 <!-- This is where the other templates get rendered -->
{{outlet}}
